@import 'bootstrap';

#user_asin, #list_asin {
  display:none
}
#user_asin.selected, #list_asin.selected {
  display:block
}

.modal-dialog,
.modal-content {
    height: 95%;
}

#containerDiv{
  margin : 0 auto;
}